.Nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: black;
  }

  NavItem{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }

  .nav-icon{
    
    display: flex;
    justify-content: space-around;
    float: left;
    border-radius: 10px;
  }
  .poo{
    
    display: flex;
    justify-content: space-around;
    float: right;
    border-radius: 10px;
  }

  