  * {
    font-family: 'Muli', sans-serif;
  }
  

  body{
    padding: 50px;
    background-color: #cccccc;
    background-image: linear-gradient(black, #000066);
    background-size: 100%;
  }
  
  .mapContainer {
    position: absolute;
    top: 15%;
    right: 0;
    left: 75%;
    bottom: 0;
    width:15%;
    height: 50;
    border: 1px solid black;
    z-index: 999;
  }

  .sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
  }

  