.mapContainer {
    position: absolute;
    top: 40%;
    right: 0;
    left: 50%;
    bottom: 0;
    width:20%;
    height: 30%;
    border: 1px solid black;
  }

  .sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
  }